.form {
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.label {
  position: absolute;
  top: -20px;
  left: 17px;
  color: #696868;
}

.input {
  min-width: 200px;
  margin: 0 16px;
  margin-top: 4px;
}

.button {
  border: none;
  padding: 6px 16px;
  border-radius: 16px;
  font-weight: bold;
  color: white;
  background: #88d1d4;
}

@media (min-width: 764px) {
  .form {
    margin: 0;
  }
}
