.page {
  height: 100%;
}

.dataControl {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}
.ribbon {
    background-color: white;
    text-align: left;
    padding: 16px 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: bold;
    color: #4e4c4c;
}

.mapPanel {
    flex-grow: 1;
    height: 100vh;
}
.chartPanel {
    flex-grow: 1;
    max-width: 40%;
}
.dataPresentation {
    display: flex;
}
