.tag {
    padding: 8px 16px;
    text-align: center;
    background-color: #c3bae4;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.tag:hover {
    background-color:#408c99;
}
.tag:active {
    position:relative;
    top:1px;
}
.tag + .tag {
    margin-left: 8px;
}
