.tag {
    padding: 5px 8px;
    text-align: center;
    background-color: #599bb3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}
.tag:hover {
    background-color:#408c99;
}
.tag:active {
    position:relative;
    top:1px;
}

